button:active {
    background-color: rgb(180, 0, 0);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 53%;
    left: 53%;
    width: 80%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    /* background-color: var(--laranja-claro); */
}

.close-button:hover {
    /* background-color: var(--verde); */
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.button-modal {
    background-color: rgb(255, 0, 0);
    /* color: var(--bg); */
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button-modal:hover {
    background-color: var(--verde);
}

.modal-umidade {
    position: relative;
    height: 30vh;
    width: 30vw;
}

.modal-temperatura {
    position: relative;
    height: 30vh;
    width: 30vw;
}

.charts {
    display: flex;
    justify-content: right;
}