:root {
    --max-width: 1920px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
    max-width: var(--max-width);
    background-color: #e5e5e5;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.list a:hover {
    opacity: 0.7;
}

.logo img {
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

nav {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5A9C67;
    height: 8vh;
}

.list {
    list-style: none;
    display: flex;
}

.list li {
    margin-left: 32px;
}

.itens {
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nome-empresa {
    font-style: italic;
}

.aqui {
    font-weight: bold;
}

h1 {
    margin: 30px auto;
}

.cards {
    display: flex;
    margin: 0 auto;
    max-width: 1377px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5A9C67;
    height: 5vh;
    margin-top: 3vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.chart {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
    border-radius: 25px;
    background-color: white;
    width: 416px;
    height: 477px;
}

.variabel {
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 15px;
}