.caixa_imagem{
    width: 600px;
    height: 900px;
    background-image: url(img/background.png);
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    text-align: center;
}
.texto_imagem{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25pt;
    margin: 0px 30px 0px 40px;
    line-height: 40px;
    position: relative;
}
.caixa_cadastro{
   
    width: 700px;
    margin-left: 750px;
    margin-top: 100px;
    height: 600px;
    position: absolute;

}
.logo{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-top: 20px;
    margin-left: -320px;
}
.caixa_logo{
    align-items: center;
    display: block;
    text-align: center;
    width: 700px;
    height: 150px;

}
.titulo{
    color: #5A9C67;
    font-size: 20pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -70px;
}
.subtitulo{
    color: rgb(165, 165, 165);
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-weight: lighter;
}
.subcaixa_cadastro1{
    width: 50%;
    height: 75%;
   
}
.subcaixa_cadastro2{
    width: 50%;
    height: 75%;

    margin-left: 50%;
    margin-top: -65%;
}
.caixa_input p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px 0px 15px 0px;
    margin-top: 10px;
}
b{
    color: red;
    font-weight: bold;
}
.caixa_input input{

        padding: 5px 25px;
        border: transparent;
        border-bottom: 1px solid #5A9C67;
        font-size: 17px;
        outline: 0;
    
}
.subtitulo_footer{
    color: rgb(165, 165, 165);
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    
    font-weight: lighter;
}

.caixa_botao_footer{
    margin-left: -60px;
    align-items: center;
    text-align: center;
}
.CriarConta{
    background-color: #5A9C67;
    color: white;
    width: 350px;
    height: 50px;
    border: white solid 2px;
    border-radius: 17px;
    font-size: 13pt;
}
.CriarConta: :hover{
    mouse
}