body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

main{
    display: flex;
}

/* MENU DE NAVEGAÇÃO */

menu{
    background-color: #5A9C67;
    list-style: none;
    height: 100vh;
    width: 13%;
    margin: 0;
    padding: 0;
}

menu .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100vh;
    margin: auto;
}

.boxes{
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}

.box{
    text-align: center;
    width: 100%;
    margin-top: 8%;
}

.box h2{
    color: #FFF;
    font-weight: 100;
    font-size: 1.2vw;
    margin: 0;
    margin-top: 1.3vh;
}


.box2, .box3{
    text-align: center;
    width: 80%;
}

.box2{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box2 span{
    width: 100%;
    font-size: 1.3vw;
    margin-top: 1.5vh;
}

.box3{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.img_logo{
    width: 3vw;
}

.img_usuario{
    width: 5vw;
}

.sel_plantacao, .sel_hectare{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 3vh;
}

.sel_plantacao:hover, .sel_hectare:hover{
    color: #5A9C67;
    background-color: #FFF;
    cursor: pointer;
} 

a.botao{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 9px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 3vh;
}

a.botao:hover{
    background: #FFF;
    color: #5A9C67;
}

.copy{
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 0.78vw;
}

/* GRÁFICOS */

section{
    height: 100vh;
    width: 87%;
}

section .container{
    height: 100vh;
    width: 100%;
    background-color: #E5E5E5;
}

.topo{
    height: 10vh;
    width: 90%;
    margin: auto;
    border-bottom: 0.2vh solid #5A9C67;
    display: flex;
    align-items: center;
}

.plant{
    height: 75vh;
    width: 90%;
    margin: auto;
    /* word-wrap: break-word; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topo h1{
    margin: 0;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
}

.caixa{
    width: 20vw;
    height: 32vh;
    background-color: #FFFF;
    border-radius: 40px;
    padding: 1.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.caixa span{
    font-size: 1.2vw;
}

.caixa img{
    width: 15vw;
    height: 22vh;
}

.alerta{
    width: 8vw;
    background-color: #9F0000;
    padding: 0.8vh;
    border-radius: 15px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
}

.alerta2{
    width: 8vw;
    background-color: #ffd700;
    padding: 0.8vh;
    border-radius: 15px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
}

.alerta3{
    width: 8vw;
    background-color: #039F00;
    padding: 0.8vh;
    border-radius: 15px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
}