@keyframes imageFull {
    from {
        width: 100vw;
    }
    to {
        width: 50vw;
    }
}

@keyframes sugirJuntoImageFull {
    from {
        width: 0vw;
    }
    to {
        width: 50vw;
    }
}

@keyframes surgir {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}