body {
    height: 938px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    overflow: hidden;
}

/* SECTION DA IMAGEM */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.module.form {
    margin: 0;
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
}

.module.form.content {
    width: 100% !important;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    width: 113px;
    height: 118px;
}

.register {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

/* ESTILIZAÇÃO DOS TEXTOS INPUTS SELECTS E BUTTON */

h1 {
    display: inline;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.02em;
    color: #5A9C67;
}

button {
    cursor: pointer;
    width: 435px;
    height: 65px;
    background: #5A9C67;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

button:active {
    background-color: rgb(76, 131, 87);
}

input,
select {
    font-family: 'Poppins';
    letter-spacing: 0.02em;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(90, 156, 103, 1);
    width: 300px;
    height: 35px;
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

select {
    margin-bottom: 0;
}

a {
    cursor: pointer;
    color: #5A9C67;
    margin-bottom: 1vh;
}

.ast {
    color: red;
}

.text.base {
    margin: 0;
    font-size: 16px;
    color: rgba(141, 141, 141, 1)
}

.sub {
    color: rgba(141, 141, 141, 1);
}

.text.image {
    color: white;
    margin: 25px;
    font-weight: 500;
    font-size: 36px;
    word-wrap: break-all;
    overflow-wrap: break-word;
}

#msgemail {
    /* position: absolute; */
    margin-top: -3vh;
}